/.idea
/.vscode
/.vagrant
/coverage
/node_modules
/storage
/vendor
.phpunit.cache
.DS_Store
.env
.env.backup
.env.production
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.phpstorm.meta.php
