includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7

    paths:
        - src
        - tests

    tmpDir: storage/phpstan

    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true

    excludePaths:
        analyse:
            - vendor/*